*,
html,
body {
  font-size: $baseFontSize;
  font-family: $fontFamily;
}


// Header Styles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
  line-height: $headingLineHeight;
}


h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size
}

h4 {
  font-size: $h4-size;
}

h5 {
  font-size: $h5-size;
}

h6 {
  font-size: $h6-size;
}

// Paragraphs
p {
  font-size: $baseFontSize;
  line-height: $baseLineHeight
}


// Text Styles
em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  font-weight: inherit;
  text-decoration: none;
}