// Font Family
$fontFamily: "Open Sans",
sans-serif;

// Base Font and Color
$baseFontSize: 16px;
$baseColor: #ffffff;
$baseLineHeight : 1.5;
$headingLineHeight : 1.2;


// Font Sizing
// Font Sizing
// Heading sizes - mobile
// h4—h6 remain the same size on both mobile & desktop
$h00-size-mobile: rem(40px);
$h0-size-mobile: rem(32px);
$h1-size-mobile: rem(26px);
$h2-size-mobile: rem(22px);
$h3-size-mobile: rem(18px);

// Heading sizes - desktop
$h00-size: rem(48px);
$h0-size: rem(40px);
$h1-size: rem(32px);
$h2-size: rem(24px);
$h3-size: rem(20px);
$h4-size: rem(16px);
$h5-size: rem(14px);
$h6-size: rem(12px);


// Colors


// Buttons Styles