// Font Family
$fontFamily: "Open Sans",
sans-serif;

// Base Font and Color
$baseFontSize: 18px;
$baseColor: #ffffff;
$baseLineHeight : 1.5;
$headingLineHeight : 1.2;


// Font Sizing
$giganticFontSize: rem(48px);
$hugeFontSize: rem(36px);
$largeFontSize: rem(30px);
$mediumFontSize: rem(24px);
$smallFontSize: rem(14px);
$miniFontSize: rem(11px);


// Colors


// Buttons Styles
